
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SuperAdmin/Views/Shared/SuperAdminLayout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

<style>
    .page-title {
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Microsoft New Tai Lue';
        padding-top: 20px;
    }

    .inner {
        padding: 30px !important;
    }
</style>
<div class="page-title">
    <h1>AKADEMİSYEN İŞLEMLERİ</h1>
</div>
<div style="padding-top:6rem" class="container-fluid">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div style="padding-bottom:30px" class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Aktif Eğitimci</span>
                        <span class="info-box-number">
                            @ViewBag.activeacademician
                            <small></small>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Prof</span>
                        <span class="info-box-number"> @ViewBag.prof</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Araştırma Görevlisi</span>
                        <span class="info-box-number">@ViewBag.ag</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Toplam</span>
                        <span class="info-box-number">@ViewBag.sum</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>


        <div style="margin-bottom:40px;" class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div href="/SuperAdmin/Student/AddStudent" class="inner">
                        <h3>Akademisyen Kayıt</h3>

                        <p> </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>

                    </div>
                    <a href="/SuperAdmin/Academician/AddAcademician" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div href="/SuperAdmin/Academician/EditAcademician" class="inner">
                        <h3>Akademisyen Düzenle</h3>

                        <p> </p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-edit"></i>
                    </div>
                    <a href="/SuperAdmin/Student/EditStudent" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div href="/SuperAdmin/Student/SearchStudent" class="small-box bg-gradient-fuchsia">
                    <div class="inner">
                        <h3>Akademisyen Ara</h3>

                        <p> </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-search"></i>
                    </div>
                    <a href="/SuperAdmin/Academician/SearchAcademician" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div href="/SuperAdmin/Student/LessonStudent" class="small-box bg-gradient-indigo">
                    <div class="inner">
                        <h3>Akademisyen Ders İşlemi</h3>


                        <p> </p>

                    </div>
                    <div class="icon">
                        <i class="fas fa-graduation-cap"></i>
                    </div>
                    <a href="/SuperAdmin/Academician/LessonAcademician" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>


        </div>

        <div class="row">

            @Html.Action("StatisticByAcademicianTitle", "Statistics", new { area = "SuperAdmin" })


            @Html.Action("StatisticByAcademicianPublication", "Statistics", new { area = "SuperAdmin" })
        </div>

   
    </div>

</div>

<!--<script src="~/Content/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>-->
<!-- Bootstrap -->
<!--<script src="~/Content/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!-- overlayScrollbars -->
<!--<script src="~/Content/AdminLTE-3.0.4/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>-->
<!-- AdminLTE App -->
<!--<script src="~/Content/AdminLTE-3.0.4/dist/js/adminlte.js"></script>-->

<!-- OPTIONAL SCRIPTS -->
<!--<script src="~/Content/AdminLTE-3.0.4/dist/js/demo.js"></script>-->

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<!--<script src="~/Content/AdminLTE-3.0.4/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="~/Content/AdminLTE-3.0.4/plugins/raphael/raphael.min.js"></script>
<script src="~/Content/AdminLTE-3.0.4/plugins/jquery-mapael/jquery.mapael.min.js"></script>
<script src="~/Content/AdminLTE-3.0.4/plugins/jquery-mapael/maps/usa_states.min.js"></script>-->
<!-- ChartJS -->
<!--<script src="~/Content/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>-->

<!-- PAGE SCRIPTS -->
<!--<script src="dist/js/pages/dashboard2.js"></script>
<script src="~/Content/AdminLTE-3.0.4/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="~/Content/AdminLTE-3.0.4/plugins/raphael/raphael.min.js"></script>
<script src="~/Content/AdminLTE-3.0.4/plugins/jquery-mapael/jquery.mapael.min.js"></script>
<script src="~/Content/AdminLTE-3.0.4/plugins/jquery-mapael/maps/usa_states.min.js"></script>-->
<!-- ChartJS -->
<!--<script src="~/Content/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>-->

<!-- PAGE SCRIPTS -->
<!--<script src="~/Content/AdminLTE-3.0.4/dist/js/pages/dashboard2.js"></script>-->